* {
  margin: 0;
  padding: 0; }

html body {
  height: 100vh;
  overflow: hidden;
  width: 100%; }
  html body #root {
    height: 100%;
    overflow: hidden;
    width: 100%; }
    html body #root .container {
      display: flex;
      justify-content: center;
      height: 100vh;
      width: 100%;
      max-width: 1920px;
      margin: auto; }

.btn {
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 38px;
  outline: none;
  text-decoration: none;
  width: 100%;
  transition: all .2s; }
  .btn--primary {
    background-color: #3e99d1;
    color: #fff; }
    .btn--primary:hover {
      background-color: #0177a8;
      color: #fff; }
  .btn--secondary {
    background-color: #fff;
    border: 1px solid #e1e8ee;
    color: #3e99d1; }
    .btn--secondary:hover {
      border-color: #3e99d1; }
  .btn--disabled {
    background-color: #e1e8ee;
    border: 1px solid #e1e8ee;
    color: #fff; }

.header-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px; }
  .header-bar__logo {
    height: 40px;
    margin-right: 20px; }
  .header-bar__title {
    font-weight: 200; }

.sections {
  margin-top: 40px;
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 300px; }
  .sections__item {
    padding: 20px;
    border: 1px solid #e1e8ee;
    border-radius: 6px;
    margin: 20px;
    width: 300px;
    height: 200px; }
    .sections__item__title {
      margin-bottom: 20px;
      text-align: center; }
    .sections__item__button-container {
      margin-top: 20px; }

.sso-form {
  display: flex;
  justify-content: space-between;
  height: 460px;
  width: 50%;
  border: 1px solid #e1e8ee;
  border-radius: 6px;
  margin-top: 10%; }
  .sso-form__letfside, .sso-form__rightside {
    display: flex;
    justify-content: center;
    width: calc(50% - 120px);
    overflow: hidden;
    padding: 60px; }
  .sso-form__letfside {
    border-right: 1px solid #e1e8ee; }
  .sso-form .signup-form, .sso-form .login-form {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%; }
    .sso-form .signup-form__label, .sso-form .login-form__label {
      font-size: 20px;
      font-weight: 600;
      color: #717c8a;
      margin-bottom: 20px;
      text-align: center; }
    .sso-form .signup-form__field, .sso-form .login-form__field {
      width: 100%;
      margin-bottom: 20px;
      border: 0;
      border-bottom: 1px solid #e1e8ee;
      padding: 10px 0; }
      .sso-form .signup-form__field:focus, .sso-form .login-form__field:focus {
        outline: none; }
    .sso-form .signup-form__button-container, .sso-form .login-form__button-container {
      display: flex;
      bottom: 0;
      position: absolute;
      justify-content: center;
      width: 100%; }

.landing {
  width: 100%; }

